body {
    background-color: #0057b8;
    line-height: 100vh;
    text-align: center;
  }
  
  .svg {
    display: inline-block;
    height: 300px;
    width: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }
  
  #svg {
    display: inline-block;
    vertical-align: middle;
    fill: #0057b8;
  }
  #svg path:nth-child(1) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.04s;
    animation-delay: 0.04s;
  }
  #svg path:nth-child(1):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(2) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.08s;
    animation-delay: 0.08s;
  }
  #svg path:nth-child(2):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(3) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.12s;
    animation-delay: 0.12s;
  }
  #svg path:nth-child(3):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(4) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  #svg path:nth-child(4):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(5) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  #svg path:nth-child(5):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(6) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.24s;
    animation-delay: 0.24s;
  }
  #svg path:nth-child(6):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(7) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.28s;
    animation-delay: 0.28s;
  }
  #svg path:nth-child(7):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(8) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
  }
  #svg path:nth-child(8):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(9) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.36s;
    animation-delay: 0.36s;
  }
  #svg path:nth-child(9):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(10) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  #svg path:nth-child(10):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(11) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.44s;
    animation-delay: 0.44s;
  }
  #svg path:nth-child(11):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(12) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s;
  }
  #svg path:nth-child(12):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(13) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
  }
  #svg path:nth-child(13):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(14) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.56s;
    animation-delay: 0.56s;
  }
  #svg path:nth-child(14):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(15) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  #svg path:nth-child(15):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(16) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.64s;
    animation-delay: 0.64s;
  }
  #svg path:nth-child(16):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(17) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.68s;
    animation-delay: 0.68s;
  }
  #svg path:nth-child(17):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(18) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
  }
  #svg path:nth-child(18):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(19) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.76s;
    animation-delay: 0.76s;
  }
  #svg path:nth-child(19):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(20) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  #svg path:nth-child(20):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(21) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.84s;
    animation-delay: 0.84s;
  }
  #svg path:nth-child(21):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(22) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.88s;
    animation-delay: 0.88s;
  }
  #svg path:nth-child(22):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(23) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.92s;
    animation-delay: 0.92s;
  }
  #svg path:nth-child(23):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(24) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 0.96s;
    animation-delay: 0.96s;
  }
  #svg path:nth-child(24):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(25) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  #svg path:nth-child(25):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(26) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.04s;
    animation-delay: 1.04s;
  }
  #svg path:nth-child(26):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(27) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.08s;
    animation-delay: 1.08s;
  }
  #svg path:nth-child(27):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(28) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.12s;
    animation-delay: 1.12s;
  }
  #svg path:nth-child(28):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(29) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.16s;
    animation-delay: 1.16s;
  }
  #svg path:nth-child(29):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(30) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  #svg path:nth-child(30):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(31) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.24s;
    animation-delay: 1.24s;
  }
  #svg path:nth-child(31):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(32) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.28s;
    animation-delay: 1.28s;
  }
  #svg path:nth-child(32):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(33) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.32s;
    animation-delay: 1.32s;
  }
  #svg path:nth-child(33):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(34) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.36s;
    animation-delay: 1.36s;
  }
  #svg path:nth-child(34):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(35) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
  #svg path:nth-child(35):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(36) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.44s;
    animation-delay: 1.44s;
  }
  #svg path:nth-child(36):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(37) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.48s;
    animation-delay: 1.48s;
  }
  #svg path:nth-child(37):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(38) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.52s;
    animation-delay: 1.52s;
  }
  #svg path:nth-child(38):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(39) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.56s;
    animation-delay: 1.56s;
  }
  #svg path:nth-child(39):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(40) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
  #svg path:nth-child(40):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(41) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.64s;
    animation-delay: 1.64s;
  }
  #svg path:nth-child(41):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(42) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.68s;
    animation-delay: 1.68s;
  }
  #svg path:nth-child(42):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(43) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.72s;
    animation-delay: 1.72s;
  }
  #svg path:nth-child(43):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(44) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.76s;
    animation-delay: 1.76s;
  }
  #svg path:nth-child(44):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(45) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }
  #svg path:nth-child(45):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(46) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.84s;
    animation-delay: 1.84s;
  }
  #svg path:nth-child(46):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(47) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.88s;
    animation-delay: 1.88s;
  }
  #svg path:nth-child(47):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(48) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.92s;
    animation-delay: 1.92s;
  }
  #svg path:nth-child(48):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(49) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 1.96s;
    animation-delay: 1.96s;
  }
  #svg path:nth-child(49):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(50) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  #svg path:nth-child(50):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(51) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.04s;
    animation-delay: 2.04s;
  }
  #svg path:nth-child(51):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(52) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.08s;
    animation-delay: 2.08s;
  }
  #svg path:nth-child(52):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(53) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.12s;
    animation-delay: 2.12s;
  }
  #svg path:nth-child(53):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(54) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.16s;
    animation-delay: 2.16s;
  }
  #svg path:nth-child(54):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(55) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
  }
  #svg path:nth-child(55):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(56) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.24s;
    animation-delay: 2.24s;
  }
  #svg path:nth-child(56):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(57) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.28s;
    animation-delay: 2.28s;
  }
  #svg path:nth-child(57):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  #svg path:nth-child(58) {
    -webkit-animation: pweek 5s linear infinite;
    animation: pweek 5s linear infinite;
    -webkit-animation-delay: 2.32s;
    animation-delay: 2.32s;
  }
  #svg path:nth-child(58):hover {
    -webkit-animation-play-state: paused;
    /* Chrome, Safari, Opera */
    animation-play-state: paused;
  }
  
  @-webkit-keyframes pweek {
    0% {
      fill: #0057b8;
    }
    16.6666666667% {
      fill: #f11e4a;
    }
    33.3333333333% {
      fill: #237;
    }
    50% {
      fill: #229c79;
    }
    66.6666666667% {
      fill: #f8a527;
    }
    83.3333333333% {
      fill: #266d7f;
    }
    100% {
      fill: #0057b8;
    }
  }
  @keyframes pweek {
    0% {
      fill: #0057b8;
    }
    16.6666666667% {
      fill: #f11e4a;
    }
    33.3333333333% {
      fill: #237;
    }
    50% {
      fill: #229c79;
    }
    66.6666666667% {
      fill: #f8a527;
    }
    83.3333333333% {
      fill: #266d7f;
    }
    100% {
      fill: #0057b8;
    }
  }
  