.hidden-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .dropdown-menu {
    max-height: 300px; /* Giới hạn chiều cao tối đa */
    overflow-y: auto; /* Thêm thanh cuộn dọc */
}