.navItem {
  position: relative;
  display: inline-block;
  transition: 1s linear;
}

.dropdown {
  position: absolute;
  top: 120%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: max-content;
  border-radius: 8px;
  opacity: 0; /* Bắt đầu với opacity = 0 */
  transform: translateY(-10px); /* Bắt đầu với vị trí dịch chuyển lên */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Hiệu ứng mờ dần và dịch chuyển */
  visibility: hidden; /* Ẩn dropdown */
}

.dropdown.show {
  opacity: 1; /* Khi hiện thì opacity = 1 */
  transform: translateY(0); /* Đưa về vị trí ban đầu (xuống dưới) */
  visibility: visible; /* Hiện dropdown */
}

.dropdown.hide {
  opacity: 0; /* Khi ẩn thì opacity = 0 */
  transform: translateY(-10px); /* Dịch chuyển lên */
  visibility: hidden; /* Ẩn dropdown */
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownItem {
  padding: 10px 20px;
  cursor: pointer;
  color: black;
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* Thêm màu nền khi hover */
}
